*.pyc
.pc
.codacy-coverage/
.coverage
.eggs/
.idea
.nox/
.python-version
.pybuild
b2_cli.log
b2.egg-info
build
coverage.xml
dist
venv
doc/source/main_help.rst
debian/tmp
debian/.debhelper/
debian/backblaze-b2*
debian/debhelper-build-stamp
debian/files
